*Theory.sig
*Theory.sml
*.uo
*.ui
.HOLMK
*.aux
*.make
Makefile.local
pda-paper/*.log
pda-paper/cfg.tex
pda-paper/cfg2pda.tex
pda-paper/cfls.tex
pda-paper/elsevier
pda-paper/holtexbasic.sty
pda-paper/introduction.tex
pda-paper/laeslafs.tex
pda-paper/munger*
pda-paper/pda.pdf
pda-paper/pda.ps
pda-paper/pdaDef.tex
pda-paper/trees.tex
